<div class="container">

<h1>PROJECTS?</h1>

<p>YOU AIN'T GOT NONE HERE MAN!</p>

<div class="flex-container">
  <div class="row">
  <% @projects_array.each do |proj| %>
  <div class="col-md-4">

    <div class="flex-item">
      <!-- <p><%= proj[:project_name] %></p> -->
      <p><img src="<%= proj[:project_image] %>" class="flex-image"></p>
      <span class="flex-image-overlay">
        <p class="box_project_title-overlay"><%= proj[:project_name] %></p>
      </span>
      <span class="flex-image-description">
        <p class="box_project_title"><%= proj[:project_name] %></p>
        <p>Project Type: <%= proj[:project_cat] %></p>
        <p><%= proj[:description] %></p>
        <p><a href="<%= proj[:project_url] %>"
          <button type="button" class="btn btn-default btn-sm">Go to the project page</button></a></p>
        <p><button type="button" class="btn btn-default btn-sm">View on GitHub</button></p>
      </span>
    </div>
  </div>
    <% end %>
  </div>

</div>






<% content_for :navbar do %>
     <%= render 'partials/nav_projects' %>
<% end %>
