<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Ethan's World</title>
  </head>
  <body background="app/assets/images/twi.gif" font color="green">


<center><%= image_tag "welcome.gif" %></center>

<blink><center><font size = +1 face = "comic sans MS" color = "yellow"><p><%= image_tag "computer.gif" %>You Have Entered Ethan's World.<%= image_tag "computer.gif" %></p></font></center></blink>
<br>
<br>
<hr>
<%= image_tag "coolstuff.gif"%>
<p><font color="white"><a href="">Saved by the Bell fan club</a></font></p>
<p><font color="white"><a href="">Mortal Kombat cheat codes</a></font></p>
<p><font color="white"><a href="">Power Rangers only</a></font></p>
<p>

<center>
  <%= image_tag "dogconstruction.gif" %>
  <%= image_tag "under_construction_2.gif" %>
  <%= image_tag "dogconstruction.gif" %>
<br>

<p><font color = pink>I am the President if you want to join just </font><%= image_tag "email.gif"%></p>
<blink><%= image_tag "Boysring.jpg" %></blink>

<center><p><font color = "white">You are visitor number: </> </font><img src = "asdf.jpg"></center>

<marquee><p><font face="comic sans MS" color = "green" size = 12> Thanks for stopping by, don't forget to sign my guestbook!</p></font></marquee>
<center><%= image_tag "slave1.gif" %><%= image_tag "guestbook.GIF" %><%= image_tag "slave1.gif"%></center>
<br>
<br>
  <audio controls src="gangstasparadise.mp3" type="audio/mpeg" autostart="true" autoplay="true"></audio>
  <center><img src = "netscape.gif" alt="Best viewed with Netscape or Microsoft Internet Explorer"></center>
  </body>
</html>
